body{
    margin-top: 7%;
    text-align: center;
    background-color: #FFF8ED;
}

.h1{
    font-family: Ubuntu Mono;
    color:#ED7D31;
    font-size: 5rem;
}

.idid{
    margin:4% 0 1.5% 0;
    color:#ED7D31;
}
.pw{
    margin:0 0 3% 0;
    color:#ED7D31;
}

.labelEmail{
    margin-left:2%;
    /* margin-bottom:2%; */
}
.labelPass{
    margin-right:2%;
    margin-bottom:2%;
}

input::placeholder{
    color: #f1cfb7ef;
}
/* input box 클릭시 */
input:focus{
    outline:none;
}

#email, #pass, #check{
    border-top:0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1.4px solid #f88e47;
    background:transparent;
}

#email{
    margin-left: 2%;
}

.login_btn{
    /* image로 바꿀것! 카카오btn이랑 똑같이 적용 */
    margin:0 0 0.5% 0;
    /* padding: 1% 0% 1% 0%; */
    width:17%;
    /* border:0; */
    /* border-radius: 8px; */
    /* background-color: #fda66b; */
}
.kakao_btn{
    width:17%;
    /* height:6%; */
    /* border-radius: 12px; */
}

p{
    margin-top: 2%;
    font-size: 0.9rem;
}
.regi0{
    color:rgba(0, 0, 0, 0.52);
}
.regi{
    color:#ED7D31;
}




/* 반응형*/
@media ( max-width: 900px ) {
    body{
        margin-top: 40%;
    }

    .idid{
        margin:12% 0 5% 0;
    }
    .pw{
        margin-bottom: 11%;
    }
    
    .labelEmail{
        margin-left:6%;
    }

    .login_btn{
        width:50%;
        margin-bottom: 1.5%;
    }
    .kakao_btn{
        width:50%;
    }

    p{
        margin-top:6%;
    }

}