body{
    text-align: center;
    margin-top: 7%;
    background-color: #FFF8ED;
}

.h1{
    font-family: Ubuntu Mono;
    color:#ED7D31;
    font-size: 4.6rem;
}

.idid{
    margin:4% 0 1.5% 0;
    color:#ED7D31;
}
.pw1{
    margin:0 0 1.5% 0;
    color:#ED7D31;
}
.pw2{
    margin:0 0 1.5% 0;
    color:#ED7D31;
}

input:focus{
    outline:none;
}

#email, #pass, #pass2, #birth{
    border-top:0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1.4px solid #ED7D31;
    background:transparent;
}

#email, #pass, #birth{
    margin-left: 3%;
}
#pass2{
    margin-left: 1%;
}
#birth{
    width:160px;
}

.day{
    margin:0 0 2% 0;
    color:#ED7D31;
}


   /* input[type=date]::-webkit-datetime-edit-text { 
       -webkit-appearance: none;
        display: none; } 
   input[type=date]::-webkit-datetime-edit-month-field{ 
       -webkit-appearance: none; 
    display: none; 
} 
    input[type=date]::-webkit-datetime-edit-day-field { 
        -webkit-appearance: none; 
        display: none; 
    } 
        input[type=date]::-webkit-datetime-edit-year-field {
             -webkit-appearance: none; 
            display: none; 
        } */
input[id="check"] + label {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1.5px solid #b8a293;
    cursor: pointer;
}
input[id="check"]:checked + label {
    background-color: #b8a293;
}
input[id="check"] {
    display: none;
    margin-top:1%;
}
.permit{
    margin:-1.65% 0 0 12%;
}
.check{
    margin:0 0 0 0%;
    color:#b8a293;
    font-size: 14px;
}


.regi_btn{
    margin:4% 0 0.5% 0;
    width:17%;
}


@media(max-width:900px){
    body{
        margin-top: 40%;
    }
    .idid{
        margin:12% 0 5% 0;
    }
    .pw2{
        margin-top:5%;
        margin-bottom: 5%;
    }

    .permit{
        margin:-5.6% 0 0 38%;
    }
    .labelCheck{
        margin-top: 4%;
    }
    .check{
        margin-bottom: 4%;
    }

    .regi_btn{
        margin:8% 0 0.5% 0;
        width:45%;
    }

}