body{
    text-align: center;
    margin-top: 7%;
    background-color: #FFF8ED;
}

.h1{
    font-family: Ubuntu Mono;
    color:#ED7D31;
    font-size: 4.6rem;
}

@media(max-width:900px){
    body{
        margin-top: 40%;
    }

}