{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <title>Login</title>
</head>

<body>
    <form action="{% url 'index' %}" method="POST">
        <img src="{% static 'image/logo1.png' %}" width="60px" height="25px">
        <div class="h1">LOGIN</div>
        {% csrf_token %}
        <div class="idid">
            <label for="email" class="labelEmail">
                <span class="contentEmail">E-mail</span>
            </label>
            <input type="text" id='email' name="user" autocomplete="off" placeholder="아이디 입력" required>
            <br />
        </div>
        <div class="pw">
            <label for="pass" class="labelPass">
                <span class="contentPass">password</span>
            </label>
            <input type="password" id='pass' name='password1' placeholder="비밀번호" required>
        </div>
        <input type="submit" class="login_btn" value="앱으로 LOGIN">
        <!-- 버튼 image로 바꾸기 -->


    </form>
    <!-- <form action="{% provider_login_url 'kakao' method='oauth2' %}" method="GET">
        <input type="submit" value="카카오로그인" />
    </form> -->

    <a href="{% provider_login_url 'kakao' method='oauth2' %}">
        <img src="{% static 'image/kakao_login_large_narrow.png' %}" class="kakao_btn">
    </a>
    <p><span class="regi0">아직 회원이 아니신가요?&nbsp;</span> <a href="{% url 'register' %}" class="regi">회원가입 하기</a></p>

</body>

</html>