@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
*{
    font-family: 'KyoboHand';
    /* text-decoration: none; */
}
body{
    margin-top: 7%;
    text-align: center;
    background-color: #FFF8ED;
}
.h1{
    color:#ED7D31;
    font-size: 4.5rem;
}
.loading_img{
    width:20%;
    height:20%;
}

.box1, .box2, .box3{
    border:2px solid #ED7D31;
    border-radius: 10px;
    padding:4% 3%;
    margin:0 1% 0 1%;
    display: inline-block;
}
.all_box{
    margin:3% 0 10% 0;
    /* display: block; */
}
.more_btn{
    margin-bottom:10%;
}
.name1{
    color:orange;
}
.name_btn{
    border: 1px solid orange;
    padding:2% 5%;
    border-radius: 10px;
    color:white;
    background-color: #ED7D31;
    cursor: pointer;
}
.name_btn:hover{
    color:rgb(255, 241, 231);
}

.imgimg{
    border: 2px solid #ED7D31;
    width:220px;
    height:180px; 
}

@media(max-width:900px){
    body{
        margin-top: 35%;
    }
    .h1{
        font-size: 2.6rem;
        margin-bottom:6% ;
    }
    .box1, .box2, .box3{
        border:2px solid #ED7D31;
        border-radius: 10px;
        padding:10% 0%;
        margin:0 5% 6% 5%;
        display: block;
    }
    .loading_img{
        width:50%;
        height:50%;
    }
    .imgimg{
        width:250px;
        height:190px;
    }


}