@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
body{
    font-family: 'KyoboHand';
    margin-top: 7%;
    text-align: center;
    background-color: #FFF8ED;
}
.h1{
    color:#ED7D31;
    font-size: 4.6rem;
}

.box1, .box2, .box3{
    border:1px solid black;
    padding:15% 10%;
    margin:0 1% 0 1%;
    display: inline-block;
}
.all_box{
    margin:3% 0 10% 0;
    /* display: block; */
}




@media(max-width:900px){
    body{
        margin-top: 40%;
    }
    .h1{
        font-size: 2.3rem;
        margin-bottom:6% ;
    }
    .box1, .box2, .box3{
        border:1px solid black;
        padding:20% 0%;
        margin:0 30% 5% 30%;
        display: block;
    }

}