{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/end.css' %}">
    <title>추천결과 평가완료</title>
</head>

<body>
    <img src="{% static 'image/logo1.png' %}" width="60px" height="25px">
    <div class="h1">평가 완료!</div><br>
    <div class="text">감사합니다!<br>들숨에 건강을 날숨에 재력을 얻기를..<br>(´▽`ʃ♡ƪ)</div>
    <br><br>
    <a href="{% url 'gamseong' %}" class="btn">감성 선택하러 돌아가기</a>
</body>

</html>