{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/gamseong.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{% static 'gamseong.js' %}"></script>
    <title>오늘의 감성은?</title>
</head>

<body>
    <div class="loading">
        <img src="{% static 'image/loading592.gif' %}" alt="loading" class="loading_img">
        <div class="loading_content">🙋‍♀️{{user}}님 마음속 갬성 끌어올리는 중...</div>
    </div>
    <!-- form 한개에 submit 한개로하면 버튼 각각에 다 폼으로 해야하나????
    아아ㅏ아니다 중복 아니니까 하나니까 다 submit 해도되나. 근데 pnu퀴즈는 각각에 다해줬는데,,  -->
    <!-- 옵션을 줘서 각 해당 추천모델폼 연결 -->
    <form action="" method="POST">
        {% csrf_token %}
        <img src="{% static 'image/logo1.png' %}" class="logo" width="60px" height="25px">
        <div class="h1">
            오늘의 감성은?<br> Today's Mood</div>
            {% comment %} {{user}}님 안녕하세요! {% endcomment %}
            {% comment %} user는 뷰에서 가져온것 {% endcomment %}
        <br><br>
        <div class="box1">
            <h2>✔ 가게의 느낌으로 선택</h2>
        <div class="mini-box1">
        <div class="row1">
            <div class="">
                <input type="submit" class="g1" name="gam" value="{{random_r_mood1}}">
            </div>
            <div class="">
                <input type="submit" class="g1" name="gam" value="{{random_r_mood2}}">
            </div>
            <div class="">
                <input type="submit" class="g1" name="gam" value="{{random_r_mood3}}">
            </div>
            <div class="last">
                <input type="submit" class="g1" name="gam" value="{{random_r_mood4}}">
            </div>
        </div>
        <div class="row2">
            <div class="">
                <input type="submit" class="g1" name="gam" value="{{random_r_mood5}}">
            </div>
            <div class="">
                <input type="submit" class="g1" name="gam" value="{{random_r_mood6}}">
            </div>
            <div class="">
                <input type="submit" class="g1" name="gam" value="{{random_r_mood7}}">
            </div>
            <div class="last">
                <input type="submit" class="g1" name="gam" value="{{random_r_mood8}}">
            </div>
        </div>
        </div>

        </div>
        <br>
        
        <div class="box2">
            <h2> ✔ 나의 기분으로 선택</h2>
            <div class="mini-box2">
            <div class="row1">
            <div class="g">
                <input type="submit" class="gg1" name="gam" value="{{random_p_mood1}}">
            </div>
            <div class="g">
                <input type="submit" class="gg1" name="gam" value="{{random_p_mood2}}">
            </div>
            <div class="g">
                <input type="submit" class="gg1" name="gam" value="{{random_p_mood3}}">
            </div>
            <div class="g">
                <input type="submit" class="gg1" name="gam" value="{{random_p_mood4}}">
            </div>
            </div>
            <div class="row2">
            <div class="g">
                <input type="submit" class="gg1" name="gam" value="{{random_p_mood5}}">
            </div>
            <div class="g">
                <input type="submit" class="gg1" name="gam" value="{{random_p_mood6}}">
            </div>
            <div class="g">
                <input type="submit" class="gg1" name="gam" value="{{random_p_mood7}}">
            </div>
            <div class="last">
                <input type="submit" class="gg1" name="gam" value="{{random_p_mood8}}">
            </div>
            </div>
        </div>
        </div>

    </form>

</body>

</html>