{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{% static 'main.js' %}"></script>
    <title>추천추천</title>
</head>

<body>
    {% comment %} <div class="loading">
        <img src="{% static 'image/load22.gif' %}" alt="loading" class="loading_img">
    </div> {% endcomment %}
    <img src="{% static 'image/logo1.png' %}" width="60px" height="25px" class="logo">
    <div class="h1">이런 가게 어때요?</div>
    
       
    <form action="{% url 'main2' %}" method="POST" enctype="multipart/form-data" class="form1">
    {% csrf_token %}
    <div class="all_box">
        {% if r_result %}
            <h3>선택한 감성 ⭐{{r_keyword}}⭐와 어울리는 가게</h3><br>
            <div>👀이 감성의 더 많은 가게를 추천받고 싶다면?<br> 식당 이름이 적힌 주황색 버튼을 눌러주세요!👇</div><br>

            <div class="all_box">
            <div class="box1">
                <img src="{% get_static_prefix %}image/{{p_img}}" class="imgimg"><br><br>
                🍴 {{place_name}} ({{p_category}})<br><br>
                종류: {{p_genre}}<br><br>
            <div class="name1">
            <input type='submit' class="name_btn" name="place_name" value={{place_name}}> 와(과) 유사한 가게 더보기!
            </div>
            </div>
            <div class="box2">
            aaaaaaa
            </div>
            <div class="box3">
            aaaaaa
            </div>
            </div>
            <br>###############<br>
            <div>{{r_result}}</div>  
       
        {% endif %}

        {% if p_result %}
            <h3>선택한 감성 ⭐{{p_keyword}}⭐과(와) 어울리는 가게</h3><br>
            <div>👀이 감성의 더 많은 가게를 추천받고 싶다면?<br> 식당 이름이 적힌 주황색 버튼을 눌러주세요!👇</div><br>

            <div class="all_box">    
            <div class="box1">
               <img src="{% get_static_prefix %}image/{{p_img}}" class="imgimg"><br><br>
                🍴 {{place_name}} ({{p_category}})<br><br>
                종류: {{p_genre}}<br><br>
                <div class="name1">
                <input type='submit' class="name_btn" name="place_name" value={{place_name}}> 와(과) 유사한 가게 더보기!
                </div>
                
            </div>
            <div class="box2">
            aaaaaaa
            </div>
            <div class="box3">
            aaaaaa
            </div>
            </div>
            <div>{{p_result}}</div>  
        {% endif %}

    </div>
</form>





        <div class="all_box">
            <!-- 나중에 input버튼에 box123클래스 부여해서 버튼모양 잡기 -->
            {% comment %} 낮밤 datetime {% endcomment %}
            {% if food %}
            <div class="box1">
            {% comment %} id값을 불러와서 ~? {% endcomment %}
                <div><img src="{{food.dayimg}}"/></div>
                <div>name: {{food.name}}</div>
                <div>type: {{food.category}}</div>
                식당박스
            </div>
            {% endif %}
            {% if cafe %}
            <div class="box2">
                <div><img src="{{restaurant.dayimg}}"/></div>
                <div>name: {{restaurant.name}}</div>
                <div>type: {{restaurant.category}}</div>
                카페 박스
            </div>
            {% endif %}
            {% if alchol %}
            <div class="box3">
            <div><img src="{{restaurant.dayimg}}"/></div>
            <div>name: {{restaurant.name}}</div>
            <div>type: {{restaurant.category}}</div>
                술집 박스
            </div>
            {% endif %}

        </div>
        <div class="more">
            <button onClick="window.location.reload()" class="more_btn">🙄🤔 마음에 드는 장소가 없어요</button>
        </div>

    

</body>

</html>