{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{% static 'main.js' %}"></script>
    <title>추천추천</title>
</head>

<body>
    {% comment %} <div class="loading">
        <img src="{% static 'image/load22.gif' %}" alt="loading" class="loading_img">
    </div> {% endcomment %}
    <img src="{% static 'image/logo1.png' %}" width="60px" height="25px" class="logo">
    <div class="h1">당신의 감성맞춤 맛집</div>
    
       
    <form action="{% url 'main2' %}" method="POST" enctype="multipart/form-data" class="form1">
    {% csrf_token %}
        {% if r_result %}
            <h3>선택한 감성 ⭐{{r_keyword}}⭐와(과) 어울리는 가게</h3><br>
            <div>👀이 감성의 더 많은 가게를 추천받고 싶다면?<br> 박스 안 식당이름이 적힌 주황색 버튼을 눌러주세요!👇</div><br>

        <div class="all_box">
            <div class="box1">
                <img src="{% get_static_prefix %}image/{{img1}}" class="imgimg"><br><br>
                🍴 {{name1}} ({{category1}})<br><br>
                <b>종류:</b> {{genre1}}<br><br>
                <b>주소:</b> {{addr1}}<br><br>
                <b>전화번호:</b> {{phone1}}<br><br>
                <b>감성:</b> {{rmood1}}<br><br>
                💛 <b>{{dayornight1}}</b> 가기 좋아요!<br><br>
                <div class="name1">
                    <input type='submit' class="name_btn" name="place_name" value={{name1}}> 와(과) 유사한 가게 추천받기!
                </div>
            </div>
            <div class="box2">
                <img src="{% get_static_prefix %}image/{{img2}}" class="imgimg"><br><br>
                🍴 {{name2}} ({{category2}})<br><br>
                <b>종류:</b> {{genre2}}<br><br>
                <b>주소:</b> {{addr2}}<br><br>
                <b>전화번호:</b> {{phone2}}<br><br>
                <b>감성:</b> {{rmood2}}<br><br>
                💛 <b>{{dayornight2}}</b> 가기 좋아요!<br><br>
                <div class="name1">
                    <input type='submit' class="name_btn" name="place_name" value={{name2}}> 와(과) 유사한 가게 추천받기!
                </div>
            </div>
            <div class="box3">
                <img src="{% get_static_prefix %}image/{{img3}}" class="imgimg"><br><br>
                🍴 {{name3}} ({{category3}})<br><br>
                <b>종류:</b> {{genre3}}<br><br>
                <b>주소:</b> {{addr3}}<br><br>
                <b>전화번호:</b> {{phone3}}<br><br>
                <b>감성:</b> {{rmood3}}<br><br>
                💛 <b>{{dayornight3}}</b> 가기 좋아요!<br><br>
                <div class="name1">
                    <input type='submit' class="name_btn" name="place_name" value={{name3}}> 와(과) 유사한 가게 추천받기!
                </div>
            </div>
        </div>
        {% endif %}

        {% if p_result %}
            <h3>선택한 감성 ⭐{{p_keyword}}⭐과(와) 어울리는 가게</h3><br>
            <div>👀이 감성의 더 많은 가게를 추천받고 싶다면?<br> 박스 안 식당이름이 적힌 주황색 버튼을 눌러주세요!👇</div><br>

            <div class="all_box">    
                <div class="box1">
                    <img src="{% get_static_prefix %}image/{{img1}}" class="imgimg"><br>
                    <h3>🍴 {{name1}} ({{category1}})</h3>
                    <b>종류:</b> {{genre1}}<br><br>
                    <b>주소:</b> {{addr1}}<br><br>
                    <b>전화번호:</b> {{phone1}}<br><br>
                    <b>감성:</b> {{rmood1}}<br><br>
                    💛 <b>{{dayornight1}}</b> 가기 좋아요!<br><br>
                    <div class="name1">
                        <input type='submit' class="name_btn" name="place_name" value={{name1}}> 와(과) 유사한 가게 추천받기!
                    </div>
                    
                </div>
                <div class="box2">
                    <img src="{% get_static_prefix %}image/{{img2}}" class="imgimg"><br>
                    <h3>🍴 {{name2}} ({{category2}})</h3>
                    <b>종류:</b> {{genre2}}<br><br>
                    <b>주소:</b> {{addr2}}<br><br>
                    <b>전화번호:</b> {{phone2}}<br><br>
                    <b>감성:</b> {{rmood2}}<br><br>
                    💛 <b>{{dayornight2}}</b> 가기 좋아요!<br><br>
                    <div class="name1">
                        <input type='submit' class="name_btn" name="place_name" value={{name2}}> 와(과) 유사한 가게 추천받기!
                    </div>
                </div>
                <div class="box3">
                    <img src="{% get_static_prefix %}image/{{img3}}" class="imgimg"><br>
                    <h3>🍴 {{name3}} ({{category3}})</h3>
                    <b>종류:</b> {{genre3}}<br><br>
                    <b>주소:</b> {{addr3}}<br><br>
                    <b>전화번호:</b> {{phone3}}<br><br>
                    <b>감성:</b> {{rmood3}}<br><br>
                    💛 <b>{{dayornight3}}</b> 가기 좋아요!<br><br>
                    <div class="name1">
                        <input type='submit' class="name_btn" name="place_name" value={{name3}}> 와(과) 유사한 가게 추천받기!
                    </div>
                </div>
            </div>
        {% endif %}
</form>
        <div>
            <button onClick="window.location.reload()" class="more_btn1">🙄🤔 마음에 드는 장소가 없어요</button>
        </div>
        <div class="more">
            <a href="{% url 'gamseong' %}" class="more_btn">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⭐ 다른 감성 선택하기 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </div>

    

</body>

</html>