{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <title>TASTY-SignUp</title>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>

    <form action="" method="POST" id='popup'>
        <img src="{% static 'image/logo1.png' %}" width="60px" height="25px">
        <div class="h1">Sign-Up</div>
        {% csrf_token %}
        
        {% comment %} {% for field in form %} 
        <div class="form-group"> 
        <label for='{{field.id_for_label}}'>{{field.label}}</label>
         {{field}} </div>
          {% if field.errors %}
           <span style='color:red'>{{field.errors}}</span>
        {% endif %} 
        {% endfor %} {% endcomment %}

       <div class="message">{{ message }}</div>

        <div class="idid">
            <label for="email" class="labelEmail">
                <span>ID</span>
            </label>
            <input type="text" id="email" name="username" autocomplete="off"
                value="{{ form.username.value|default_if_none:'' }}" required>
        </div>

        <div class="pw1">
            <label for="pass" class="labelPass">
                <span>PW</span>
            </label>
            <input type="password" id="pass" name="password1" value="{{ form.password1.value|default_if_none:'' }}"
                required>
        </div>
        <div class="pw2">
            <label for="pass2" class="labelPass">
                <span>PW 확인</span>
            </label>
            <input type="password" id="pass2" name="password2" value="{{ form.password2.value|default_if_none:'' }}" required>
        </div>

        <div>
            <span class="gen">성별</span>
            <span class="gen-form">{{register_form.gender}}<span>
        </span>

        <div class="day">
            <label for="birth" class="labelBirth">
                <span>생일</span>
            </label>
            <input type="date" id="birth" name="birthday" placeholder="생년월일" autocomplete="off" required>
        </div>


        <div class="check">
            <input type="checkbox" id="check" name="ispermit" autocomplete="off" required>
            <label for="check" class="labelCheck">

            </label>
            <p class="permit">개인정보수집 동의</p>
        </div>
        <input onClick="btn()" type="image" src="{% static 'image/Group 3.png' %}" class="regi_btn">
    </form>
    <script>
    function btn() {
        //비밀번호 일치안하면 안뜨게
        swal("Welcome!", "회원가입이 완료되었습니다. 로그인해주세요.", "success");
        document.getElementById("popup").submit()
        //else: swal("Welcome!", "비밀번호가 일치하지 않습니다.", "error");
    }
    </script>

</body>

</html>