{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <title>회원가입</title>
</head>

<body>
    <form action="{% url 'accounts:register' %}" method="POST">
        <img src="{% static 'image/logo1.png' %}" width="60px" height="25px">
        <div class="h1">Sign-Up</div>
        {% csrf_token %}

        <div class="idid">
            <label for="email" class="labelEmail">
                <span>ID</span>
            </label>
            <input type="text" id="email" name="username" autocomplete="off"
                value="{{ form.username.value|default_if_none:'' }}" required>
        </div>

        <div class="pw1">
            <label for="pass" class="labelPass">
                <span>PW</span>
            </label>
            <input type="password" id="pass" name="password1" value="{{ form.password1.value|default_if_none:'' }}"
                required>
        </div>
        <div class="pw2">
            <label for="pass" class="labelPass">
                <span>PW 확인</span>
            </label>
            <input type="password" id="pass" name="password2" value="{{ form.password2.value|default_if_none:'' }}"
                required>
        </div>
        <!-- <div class="mf">
            <span>성별</span>
            <label for="gender" class="labelGender">
                <input type="radio" id="gender" name="여자" value="남자">남자
            </label>
            <label for="gender" class="labelGender">
                <input type="radio" id="gender" name="남자" value="여자">여자
            </label>

        </div>

       -->
        <div>
            <span>성별</span>
            {{user_form.gender}}
        </div>
        <div class="day">
            <label for="birth" class="labelBirth">
                <span>생일</span>
            </label>
            <input type="date" id="birth" name="birthday" required>
        </div>


        <div class="check">
            <input type="checkbox" id="check" name="ispermit" class="labelCheck" required>
            <label for="check" class="labelCheck">
                <span>개인정보수집 동의</span>
            </label>
        </div>
        <input type="image" src="{% static 'image/Group 3.png' %}" class="regi_btn">
    </form>
</body>

</html>